.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer>div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] {
  background: #4b7bec;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer>div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}


.meetContainer {
  display: flex;
  flex-direction: row; 
  padding-inline: 20px;
  height: 80vh;
  gap: 5vw; 
  justify-content: center;
  align-items: center;
}


.leftPanel {
  flex: 1; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.rightPanel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.rightPanel > img {
  width: 100%;
  max-width: 500px; 
  height: auto;
  border-radius: 20px;
}